table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: auto;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 900px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr {
    width: auto;
    height: 20px;
    white-space: nowrap;
}

.download {
    position: fixed;
    bottom: 15px;
    right: 15px;
}

.added_to_list {
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.959);
    color: green;
    border: 2px solid green;
    border-radius: 8px;
    display: none;
    position: fixed;
    top: 5px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 10px 20px 10px 20px;

}

.info {
    margin: 0;
}
